<!DOCTYPE html>
<html lang="">

<head>
      <title>
            <%= webpackConfig.metadata.title %>
      </title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="<%= webpackConfig.metadata.title %>">

      <!-- base url -->
      <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>

<body>
      <div class="masthead">
            <p>
                  <%= webpackConfig.metadata.title %>
            </p>
            <p class="date">July 1 - 2, 2016&nbsp;&mdash;&nbsp;Provo, UT</p>
      </div>
      <header id="header">
            <%= webpackConfig.metadata.title %>
                  <div id="main-menu" class="menu">
                        <span class="button">&#9776;</span>
                        <div class="container">
                              <div class="options">
                                    <label><input type="checkbox" value="steve">Steve Andersen Family</label>
                                    <label><input type="checkbox" value="eric">Eric Andersen Family</label>
                                    <label><input type="checkbox" value="brad">Brad Andersen Family</label>
                                    <label><input type="checkbox" value="dave">Dave Andersen Family</label>
                                    <label><input type="checkbox" value="lisa">Lisa Andersen Family</label>
                                    <label><input type="checkbox" value="roger">Roger Andersen Family</label>
                              </div>
                        </div>

                  </div>
      </header>
      <div class="day">
            <h3>Friday, July 1, 2016</h3>
            <h2>Picnic Dinner at Lion's Park</h2>
            <p>Come and get re-acquainted with all the great members of this family!</p>
            <div class="event-img">
                  <a href="http://www.google.com/maps?f=l&hl=en&q=1280+N+950+W%2c+Provo+%2c+UT+84601" target="_blank">
                        <div class="img" style="background-image: url(./assets/img/LionsPark.jpg)">
                              <div class="link"></div>
                        </div>
                  </a>
            </div>
            <div class="event-qr">
                  <img src="./assets/img/LionsParkQR.svg" />
            </div>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li><span>3:30</span> Gather at <a href="http://www.provo.org/Home/Components/FacilityDirectory/FacilityDirectory/60/200">Lions Park</a></li>
                        <li><span>5:30</span> Dinner (91 people, 58 adults, 33 children)</li>
                        <li><span>9:30</span> Wind down and clean up</li>
                  </ul>
            </div>

            <div class="responsibilities">
                  <h4>Responsibilities</h4>
                  <ul class="resp">
                        <li class="all"><span>Reunion Fund&mdash;</span>Meat, buns, plasticwear, drinks, burgers</li>
                        <li class="brad"><span>Brad Andersens&mdash;</span>Set Up</li>
                        <li class="eric"><span>Eric Andersens&mdash;</span> Condiments and Chips</li>
                        <li class="steve"><span>Steve Andersens&mdash;</span> Salads</li>
                        <li class="lisa"><span>Lisa Thomases&mdash;</span> Sides</li>
                        <li class="roger"><span>Roger Andersens&mdash;</span>Desserts</li>
                        <li class="dave"><span>Dave Andersens&mdash;</span>Clean Up</li>
                  </ul>
            </div>

      </div>
      <div class="day">
            <div class="event">
                  <h3>Saturday, July 2, 2016</h3>
                  <h2>Hike at Battle Creek Falls</h2>
                  <p>The trailhead is easy to find. From the town of Pleasant Grove, just follow 200 S to the east side of town.
                        The street is also known as Battle Creek Drive and it dead-ends at the trailhead. Get details on
                        this hike hike good for anyone done by lunch time.. 11:00ish</p>
                  <div class="event-img">
                        <a href="https://www.google.com/maps/place/Battle+Creek+Falls/@40.3620071,-111.7038256,16.01z/data=!4m2!3m1!1s0x0:0xe728432e5232ae29?hl=en-US"
                              target="_blank">
                              <div class="img" style="background-image: url(./assets/img/BattleCreekFalls-min.jpg)">
                                    <div class="link"></div>
                              </div>
                        </a>
                  </div>
                  <div class="event-qr">
                        <img src="./assets/img/BattleCreekQR.svg" />
                  </div>

                  <div class="schedule">
                        <h4>Schedule</h4>
                        <ul>
                              <li><span>9:00</span> Hike: Battle Creek Falls</li>
                              <li><span>11:00</span> Wrap up</li>
                        </ul>
                  </div>
                  <div class="responsibilities">
                        <h4>Responsibilities</h4>
                        <ul>
                              <li class="brad"><span>Brad Andersens&mdash;</span>Snacks</li>
                        </ul>
                  </div>
            </div>
            <div class="event">
                  <h2>Daytime Activities</h2>
                  <p>The trailhead is easy to find. From the town of Pleasant Grove, just follow 200 S to the east side of town.
                        The street is also known as Battle Creek Drive and it dead-ends at the trailhead. Get details on
                        this hike hike good for anyone done by lunch time.. 11:00ish</p>
                  <div class="event-img">
                        <a href="https://www.google.com/maps/place/Battle+Creek+Falls/@40.3620071,-111.7038256,16.01z/data=!4m2!3m1!1s0x0:0xe728432e5232ae29?hl=en-US"
                              target="_blank">
                              <div class="img" style="background-image: url(./assets/img/BattleCreekFalls-min.jpg)">
                                    <div class="link"></div>
                              </div>
                        </a>
                  </div>
                  <div class="event-qr">
                        <img src="./assets/img/RogerShaunaQR.svg" />
                  </div>

                  <div class="schedule">
                        <h4>Schedule</h4>
                        <ul>
                              <li>9:00 - 11:00am Hike: Battle Creek Falls</li>
                        </ul>
                  </div>
                  <div class="responsibilities">
                        <h4>Responsibilities</h4>
                        <ul>
                              <li class="brad"><span>Brad Andersens&mdash;</span>Snacks</li>
                        </ul>
                  </div>
            </div>

            <div class="event">
                  <h2>Dinner and a Movie</h2>
                  <p>Bring a blanket or chairs if you have/want them.</p>
                  <div class="event-img">
                        <a href="https://www.google.com.ec/maps/place/158+N+Meadowbrook+Dr,+Alpine,+UT+84004,+USA/@40.455005,-111.7622007,17z/data=!3m1!4b1!4m2!3m1!1s0x875278aca2ad2ca9:0x2cdee552bb4f73f6"
                              target="_blank">
                              <div class="img" style="background-image: url(./assets/img/RogerShauna.png)">
                                    <div class="link"></div>
                              </div>
                        </a>
                  </div>
                  <div class="event-qr">
                        <img src="./assets/img/RogerShaunaQR.svg" />
                  </div>
                  <div class="schedule">
                        <h4>Schedule</h4>
                        <ul>
                              <li><span>5:30</span> Catered Dinner at Shaunas (91 people, 58 adults, 33 children); Bring a blanket
                                    or chairs if you have/want them.
                              </li>
                              <li><span>7:30</span> Talent Show - Bring a blanket or chairs if you have/want them.
                              </li>
                              <li><span>9:00</span> movie showing outside with popcorn; younger kids may want to bail out...
                              </li>
                        </ul>
                  </div>
                  <div class="responsibilities">
                        <h4>Responsibilities</h4>
                        <ul>
                              <li class="roger"><span>Roger Andersens&mdash;</span>Set up</li>
                              <li class="dave"><span>Dave Andersens&mdash;</span>Desserts/movie snacks</li>
                              <li class="eric"><span>Eric Andersens&mdash;</span>Clean up</li>
                              <li class="eric"><span>Brad Andersens&mdash;</span>Clean up</li>
                        </ul>
                  </div>
            </div>
      </div>
      <!--
      <div class="day">
            <h3>Sunday, July 3, 2016</h3>
            <h2>Sacrament Meeting</h2>
            <p>Anyone looking for a place to attend church is welcome at The Grandview 10th Ward with Lisa, Rebecca, etc.  Meetings start at 1:00pm at 1600 North 1880 West.</p>
            <div class="event-img">
                  <a href="https://www.google.com/maps/dir//40.2552279,-111.6903416/@40.255305,-111.6924097,17z/data=!3m1!4b1" target="_blank">
                        <div class="img" style="background-image: url(./assets/img/Church.png)">
                        <div class="link">&#x2B00;</div>
                        </div>
                  </a>
            </div>
            <div class="event-qr">
                  <div class="img" style="background-image: url(./assets/img/ChurchQR.svg)"></div>
            </div>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li><span>1:00pm</span> Grandview 10th Ward Sacrament Meeting</li>
                  </ul>
            </div>
      </div>
      -->

      <% if (webpackConfig.metadata.ENV === 'development') { %>
            <!-- Webpack Dev Server reload -->
            <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
            <% } %>
</body>

</html>