<!DOCTYPE html>
<html lang="">

<head>
      <title>
            <%= webpackConfig.metadata.title %>
      </title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="<%= webpackConfig.metadata.title %>">

      <!-- base url -->
      <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>

<body>
      <div class="masthead">
            <p>
                  <%= webpackConfig.metadata.title %>
            </p>
            <p class="date">July 1 - 3, 2016&nbsp;&mdash;&nbsp;Provo, UT</p>
      </div>
      <header id="header">
            <%= webpackConfig.metadata.title %>
                  <div id="main-menu" class="menu">
                        <span class="button">&#9776;</span>
                        <div class="container">
                              <div class="options">
                                    <label><input type="checkbox" value="steve">Steve Andersen Family</label>
                                    <label><input type="checkbox" value="eric">Eric Andersen Family</label>
                                    <label><input type="checkbox" value="brad">Brad Andersen Family</label>
                                    <label><input type="checkbox" value="dave">Dave Andersen Family</label>
                                    <label><input type="checkbox" value="lisa">Lisa Andersen Family</label>
                                    <label><input type="checkbox" value="roger">Roger Andersen Family</label>
                              </div>
                        </div>

                  </div>
      </header>
      <div class="day">
            <h3>Friday, July 1, 2016</h3>
            <h2>Picnic Dinner at Lion's Park</h2>
            <p>Come and get re-acquainted with all the great members of this family!</p>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li>3:30 Gather at <a href="http://www.provo.org/Home/Components/FacilityDirectory/FacilityDirectory/60/200">Lions Park</a></li>
                        <li>5:30 Dinner (91 people, 58 adults, 33 children)</li>
                        <li>9:30 Wind down and clean up</li>
                  </ul>
            </div>

            <div class="responsibilities">
                  <h4>Responsibilities</h4>
                  <ul>
                        <li>Meat, buns, plasticwear,drinks: burgers (Reunion Fund) </li>
                        <li class="eric">Condiments and Chips: Eric Andersens</li>
                        <li class="steve">Salads/Sides: Steve Andersen and Lisa Thomas Families</li>
                        <li class="roger">Desserts: Roger Andersens</li>
                        <li class="lisa">Set Up: Brad Andersens</li>
                        <li class="dave">Clean Up: Dave Andersens</li>
                  </ul>
            </div>

      </div>
      <div class="day">
            <h3>Saturday, July 2, 2016</h3>
            <h2>Hike at Battle Creek Falls</h2>
            <p>The trailhead is easy to find. From the town of Pleasant Grove, just follow 200 S to the east side of town. The
                  street is also known as Battle Creek Drive and it dead-ends at the trailhead. Get details on this hike
                  hike good for anyone done by lunch time.. 11:00ish</p>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li>9:00 - 11:00am Hike: Battle Creek Falls</li>
                  </ul>
            </div>
            <div class="responsibilities">
                  <h4>Responsibilities</h4>
                  <ul>
                        <li class="brad">Snacks: Brad Andersens</li>
                  </ul>
            </div>

            <h2>Dinner and a Movie</h2>
            <p>Bring a blanket or chairs if you have/want them.</p>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li>5:30-7:00 Catered Dinner at Shaunas (91 people, 58 adults, 33 children)
                              <p>Bring a blanket or chairs if you have/want them.</p>
                        </li>
                        <li>7:30 - 8:30 Talent Show
                              <p>Bring a blanket or chairs if you have/want them.</p>
                        </li>
                        <li>9:00ish, movie showing outside with popcorn
                              <p>Younger kids may want to bail out...</p>
                        </li>
                  </ul>
            </div>
            <div class="responsibilities">
                  <h4>Responsibilities</h4>
                  <ul>
                        <li class="roger">Set up : Roger Andersen Family</li>
                        <li class="dave">Desserts/movie snacks : Dave Andersen</li>
                        <li class="eric">Clean up: Eric and Brad Andersen Family</li>
                  </ul>
            </div>
      </div>
      <div class="day">
            <h3>Sunday, July 3, 2016</h3>
            <h2>Sacrament Meeting</h2>
            <p>Anyone looking for a place to attend church is welcome at The XXXXX Ward with Lisa, Rebecca, etc.</p>
            <div class="schedule">
                  <h4>Schedule</h4>
                  <ul>
                        <li>9:00 - 11:00am Church</li>
                  </ul>
            </div>
      </div>

      <% if (webpackConfig.metadata.ENV === 'development') { %>
            <!-- Webpack Dev Server reload -->
            <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
            <% } %>
</body>

</html>