@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 2rem 8px 8px 8px;
  background: lightgray;
}

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

header, h2 {
   font-family: 'Open Sans';
}

header { 
   font-size: 2rem; 
   position: fixed;
   top: 0px;
}

h2 { font-size: 1.4rem; }

/* 480px */
 @media only screen and (min-width: 480px) {
    
}

@media print {

}